#
# /etc/mkrootfs/config: mkrootfs(8) configuration
#
# See mkrootfs.config(5) for more information.
#

# This configuration file reproduces the defaults.
# Using it is the same as having /etc/mkrootfs/config empty
# or not having the file at all.

# Temporary rootfs directory
ROOTFS_DIR=/tmp/rootfs‐$(date +%F)‐$(uname ‐m)

# Compressed rootfs archive
ROOTFS_TAR=$ROOTFS_DIR.tar.xz

# Log file for pkgman invocations
ROOTFS_LOG=$ROOTFS_DIR.log

# Core packages to install into the rootfs
PACKAGES=$(pkgman printf %n\\n \
	‐‐no‐std‐config \
	‐‐config‐set="pkgsrcdir /usr/src/pkgsrc‐core")

# pkgmk configuration file
PKGMK_CONF=/etc/pkgmk.conf

# pkgman configuration file
PKGMAN_CONF=/etc/pkgman.conf

# vim: ft=sh
# End of file.
